body{
    margin: 20px;
    background-color: #ffffff;
}

@font-face{
    font-family: 'Cocogoose';
    src: url('Cocogoose_trial.otf');
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 20px;
    cursor: pointer;
}

.label_tabs {
    display:inline-block;
    background:#c1c0bb;
    color:black;
    cursor:pointer;
    margin:0; padding:5px 25px 5px 15px;
    -webkit-clip-path: polygon(100% 0, 90% 0, 100% 100%, 0 100%, 0.5% 0);
    clip-path: polygon(100% 0, 80% 0, 100% 100%, 0 100%, 0.5% 0);
}

.radio_tabs:checked + .label_tabs{
    background:black;
    color:#c1c0bb;
  }

.radio_tabs{
    display: none;
}

.content_tabs{
    order: 1;
    width: 100%;
    display: none;
    background-color: #c1c0bb;
    padding: 20px;
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 8px;
}

.radio_tabs:checked + .label_tabs + .content_tabs{
    display: initial;
}

.au_pics{
    object-fit: cover;
    max-width: 300px;
    border-style: solid;
    border-color: black;
}

.pastries_pics{
    border-radius: 50%;
    width: 100px;
    height: 80px;
}

.pastries_menu p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item{
    text-align: left;
    width: 75%;
}

.price{
    text-align: right;
    width: 25%;
}