body{
    margin: 50px 100px;
    background-color: #ffffff;
    font-family: 'COCOGOOSE', sans-serif;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 20px;
    cursor: pointer;
    font-size: 30px;
}

.label_tabs {
    display:inline-block;
    background:#c1c0bb;
    color:black;
    cursor:pointer;
    margin:0; padding:5px 25px 5px 15px;
    -webkit-clip-path: polygon(100% 0, 90% 0, 100% 100%, 0 100%, 0.5% 0);
    clip-path: polygon(100% 0, 80% 0, 100% 100%, 0 100%, 0.5% 0);
}

.radio_tabs:checked + .label_tabs{
    background:black;
    color:#c1c0bb;
  }

.radio_tabs{
    display: none;
}

.content_tabs{
    order: 1;
    width: 100%;
    display: none;
    background-color: #c1c0bb;
    padding: 20px 100px;
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 15px;
}

.radio_tabs:checked + .label_tabs + .content_tabs{
    display: initial;
}

.header{
    object-fit: cover;
    max-width: 500px;
    padding: 40px;
}

p{
    font-size: 40px;
}

.au_pics{
    object-fit: cover;
    max-width: 700px;
    border-style: solid;
    border-color: black;
}

.pastries_pics{
    border-radius: 50%;
    width: 300px;
    height: 250px;
    pointer-events: none;
    user-select: none;
}

.pastries_content {
    align-items: center;
    justify-content: center;
}


.pastries_menu p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item{
    text-align: left;
    width: 75%;

}

.price{
    text-align: right;
    width: 25%;
}

.footer{
    text-align: center;
}

.parent {
    position: relative;
    top: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-bottom: 100px;
}

.image1 {
    border-radius: 50%;
    max-width: 100%;
    width: 200px;
    height: 150px;
    pointer-events: none;
    user-select: none;
}

.image2 {
    border-radius: 50%;
    max-width: 100%;
    width: 200px;
    height: 150px;
    pointer-events: none;
    user-select: none;
    position: relative;
    left: 100px;
}


